*{

}

body{
  font-family: 'Roboto', sans-serif;  
  margin: 0;
  padding: 0;
  width: 100%;
}
.mac-img {
  left: -513px;
  position: absolute;
  top: 187px;
  width: 70%;
  z-index: 1;
}
.magic-icon {
  position: absolute;
  z-index: 1;
  top: 805px;
  left: 50%;
  width: 64px;
}
.next-icon {
  position: absolute;
  z-index: 1;
  top: 3250px;
  left: 50%;
  width: 64px;
}
.Header{
  display: flex;
  background-color: #D54736;
  padding: 50px 0 0 10%;
}

.Brand-Tittle {
  display: flex;
  color: #fff;
}

.NavBar {
  text-align: center;
  font-size: 20px; 
  margin-left: auto;
  margin-right: 10%;
}
.NavBar a {
  text-decoration: none;
  color: #E8A29B;

}
.NavBar a:hover{
  color: #fff;
  text-decoration: underline;
}
.NavBar ul {
  display: flex;
  list-style: none;
}
.NavBar li {
  padding-right: 50px;
}

/* HERO */
.hero {
  /*position: absolute;
  align-self: center;*/
  padding-top: 200px;
  padding-bottom:100px;
  background-color: #D54736;
  width: 100%;
  /*height: 50%;*/
  /*top: 260px;*/
  text-align: center;
}

.hero h1{
  font-size: 20em;
  margin: 0 auto;
  color: #fff;
  font-weight: bolder;
}
.brand {
  font-size: 20px;
  /*margin: 0 auto;*/
  color: #000;
  font-weight: bolder;
  text-align: center; 
}
.hero p {
  width: 460px;
  margin-left: 1367px;
  font-size: 1.5em;
  line-height: 45px;
  color: #fff;
  text-align: justify;
}
/* FIRST CONTENT */
.Information {
  width: 100%;
  background-color: #fff;
  /*height: 500px;*/
  display: block;
  padding-top:100px; 
}
.Info {
  display: flex;
  padding: 50px 0px 90px 0px;
  width: 100%;
}

.InfoGrid {
  width: 100%;
  padding-left: 139px;
}
.slogan {
  padding-left: 333px;
  padding-right: 300px;
  vertical-align: middle;
}

.InfoImg {
  /*vertical-align: middle;*/
  float: left;
  padding-right: 30px;
}

.Article {
  /*text-align: justify;*/
  /*width:100px;*/
  display: inline-block;
  padding-right: 200px;
  padding-left: 0px;
  padding-top: 40px;
  /*border:2px solid #426;*/
}
 .InfoTittle {
  font-weight: bolder;
 }


/* SECOND CONTENT */
.Information-Two {
  background-color: #000;
  display: flex;
  padding: 150px 150px 100px 250px;
  justify-content: center;
}
.Numeric {
  font-size: 100px;
  color: red;
  position: absolute;
  z-index:-1;
}
.Article-Two {
  width: 33%;
  padding: 0px 68px 0px 85px;
  z-index: 1;
}
.Information-Two h2 {
  color: #fff
}
.Information-Two p {
  color: #999999;
  font-size: 1.1em;
}
.Information-Two a {
  color: #F7F7F7;
  text-decoration-color: red;
  /*position: relative;*/
}
.Information-Two a:after{
  /*content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 1px;
  border-width: 0 0 1px;
  border-style: solid;*/
}
.Article-Two p {
    padding-bottom: 21px;
}

.InfoGrid-Two {
  width: 100%;
  padding-left: 280px;
}
.slogan-Two {
  padding-left: 0px;
  padding-right: 429px;
  vertical-align: middle;
}
.Article-Three {
  /*text-align: justify;*/
  /*width:100px;*/
  display: inline-block;
  padding-right: 136px;
  padding-left: 88px;
  padding-top: 40px;
  /*border:2px solid #426;*/
}

.Contact {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
}
.Contact p {
  font-size: 50px;
  text-align: center;
  line-height: 90px;
}
.Contact span {
  border-bottom: solid 2px red;
}

/* FOOTER */
.footer {
  background-color: pink;
}
